[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

pytest = "*"
"pytest-pep8" = "*"
"pytest-cov" = "*"
datetime = "*"
argparse = "*"


[dev-packages]

[requires]
python_version = "3.6"